*{
    margin:0;
    padding: 0;

}


.link{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    justify-content: space-around;
    margin-left: 30px;


}
.link:hover{
    text-decoration: underline;
}
.top{
    margin-left: 70px;
    padding-top: 40px;
}

.heading{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.head{
    text-decoration: underline;
    margin: 15px;
    font-weight:bolder;
}
table,th,td{
border: 2px solid grey;
padding: 10px;
}
.table{
margin-left: auto;
margin-right: auto;

}
.perks{
    margin-left: 70px;
    padding-top: 40px;
    font-weight: bolder;
}
.list{
    margin-top: 20px;
    padding-left: 85px;
    font-size: 25px;
}

.footer{
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.4em;
    padding-top: 40px;
    
}